@font-face {
    font-family: 'CopseRegular';
    src: url('assets/fonts/corpse/Copse-Regular-webfont.eot');
    src: url('assets/fonts/corpse/Copse-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('assets/fonts/corpse/Copse-Regular-webfont.woff') format('woff'),
         url('assets/fonts/corpse/Copse-Regular-webfont.ttf') format('truetype'),
         url('assets/fonts/corpse/Copse-Regular-webfont.svg#CopseRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}