/*
Document   : _footer
Created on : 19-May-2013, 15:51:50
Author     : Richard
Description:
Purpose of the stylesheet follows.
*/

/*
TODO customize this sample style
Syntax recommendation http://sass-lang.com/docs/yardoc/file.SASS_REFERENCE.html
*/

.site-footer {
    background: none repeat scroll 0 0 $wine;
    color: $white;
    position: relative;
    top: 600px;
    z-index: 10;
    text-align: center;
    a:link, a:visited{
        color: $white;
    }
    &:before{
        border-top: 5px dotted $wine;
        content: "";
        height: 0;
        position: absolute;
        top: -2px;
        width: 100%;
        z-index: 20;
        left:0;
    }
}