/*
Document   : header
Created on : 11-May-2013, 15:50:53
Author     : Richard
Description:
Purpose of the stylesheet follows.
*/

/*
TODO customize this sample style
Syntax recommendation http://sass-lang.com/docs/yardoc/file.SASS_REFERENCE.html
*/

[role="banner"]{
    background: rgba(#FFF, 0.9);    
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 20;
    .container{
        padding-top: $half-spacing-unit;
        .site-branding{ 
            @extend .grid__item;
            .site-title{
                line-height: 1;
                margin-bottom: $half-spacing-unit;  
                a{
                    line-height: 1;
                    text-decoration: none;
                }
            }
        }
        
        .site-description{
            @extend.zeta
        }
    }
    &:after{
        border-top: 5px dotted rgba(#FFF, 0.8);
        content: "";
        height: 0px;
        position: absolute;
        bottom: -2px;
        width: 100%;
        z-index: 20;
    }
}

.admin-bar [role="banner"]{
    top:28px;
}