/*
Document   : _responsive-slider
Created on : 12-May-2013, 13:57:47
Author     : Richard
Description:
Purpose of the stylesheet follows.
*/

/*
TODO customize this sample style
Syntax recommendation http://sass-lang.com/docs/yardoc/file.SASS_REFERENCE.html
*/

.callbacks_container{
    max-height:$slider-height;
    position:fixed;
    overflow:hidden;
    width: 100%;
    
    .callbacks_nav{
        background: rgba(#000, 0.5);
        position:absolute;
        top:45%;
        z-index:10;
        font-size: 2em;
        font-weight: bold;
        line-height: 1;
        padding: 0.3em 0.5em;
        color:#fff;
        text-decoration:none;
        &.next{
            right:0;
        }
    }
    
}