/**
 *
 * base layout styles
 *
 */

body{
    padding: 0 $base-spacing-unit;
    @include media-query(lap-and-up){
        padding: 0;
    }
}

.container{
   width: auto;
   margin-left: auto;
   margin-right: auto;
   @include media-query(desk){
        width: 940px;
   }
}