/*
 * Typography
 * set font size ems on text nodes P, H* LI, TD etc
 * Set font size rems on containers / modules etc
 */

/*
 * Set relative bottom margin
 */
html, p{
  color: #fff;
}
a:link, a:active,a:visited{
  color: #fff;
  font-style: italic;
  text-decoration: none;
  &:hover{
    text-decoration: underline;
  }
}
em{
  color: $brand-col-1;
}
@include headings(){
  margin-bottom: 0.75em;
}

.sub-text{
  font-size: 0.947em;
}