/**
 *
 * post
 *
 **/ 

.post{
    margin-bottom: $base-spacing-unit;
    .entry-header{
        margin-bottom: $base-spacing-unit;
        .entry-title{
            margin-bottom:0;
            a{
                text-decoration: none;
            }
        }
    }
}
