/*------------------------------------*\
    VARS.SCSS
\*------------------------------------*/
/**
 * Any variables you find set in inuit.css’ `_vars.scss` that you do not wish to
 * keep, simply redefine here. This means that if inuit.css, for example, sets
 * your `$base-font-size` at 16px and you wish it to be 14px, simply redeclare
 * that variable in this file. inuit.css ignores its own variables in favour of
 * using your own, so you can completely modify how inuit.css works without ever
 * having to alter the framework itself.
 */





/*------------------------------------*\
    $OBJECTS-AND-ABSTRACTIONS
\*------------------------------------*/
/**
 * All of inuit.css’ objects and abstractions are initially turned off by
 * default. This means that you start any project with as little as possible,
 * and introducing objects and abstractions is as simple as switching the
 * following variables to `true`.
 */
$use-grids:         true;
$use-flexbox:       false;
$use-columns:       false;
$use-nav:           true;
$use-options:       false;
$use-pagination:    false;
$use-breadcrumb:    false;
$use-media:         false;
$use-marginalia:    false;
$use-island:        false;
$use-block-list:    false;
$use-matrix:        false;
$use-split:         false;
$use-this-or-this:  false;
$use-link-complex:  false;
$use-flyout:        false;
$use-arrows:        false;
$use-sprite:        false;
$use-icon-text:     false;
$use-beautons:      false;
$use-lozenges:      false;
$use-rules:         false;
$use-stats:         false;
$use-greybox:       false;





/*------------------------------------*\
    $OVERRIDES
\*------------------------------------*/
/**
 * Place any variables that should override inuit.css’ defaults here.
 */

$base-font-size:    17px;
$base-line-height:  25px;

/**
 * Base font-family.
 */
$base-font-family:  "proxima-nova";

/*------------------------------------*\
    $CUSTOM
\*------------------------------------*/
/**
 * Place any of your own variables that sit on top of inuit.css here.
 */




/* Palette color codes */
/* Palette URL: http://paletton.com/#uid=71X0D0kw0vXjxD7oQy2y6oNDdju */

/* Feel free to copy&paste color codes to your application */


/* MIXINS */

/* As hex codes */

$color-yellow: #EFFC00;	/* Main Primary color */
$color-yellow--tint: #F5FD63;
$color-primary-2: #F3FD39;
$color-primary-3: #BAC300;
$color-yellow--shade: #929A00;

$color-green: #6BE400;	/* Main Secondary color (1) */
$color-secondary-1-1: #9FEB5C;
$color-secondary-1-2: #87E633;
$color-secondary-1-3: #53B100;
$color-secondary-1-4: #418B00;

$color-pink: #E20048;	/* Main Secondary color (2) */
$color-pink--tint: #EA5B89;
$color-secondary-2-2: #E4336C;
$color-pink--shade: #AF0038;
$color-secondary-2-4: #8A002C;

$color-purple: #7B07A9;	/* Main Complement color */
$color-complement-1: #A04FBF;
$color-complement-2: #8A2DAF;
$color-complement-3: #600583;
$color-complement-4: #4B0367;

$twitter-blue: #00ACED;
$fb-blue: #3B5998;
$youth-service-pink: #E50188;





/* Generated by Paletton.com Â© 2002-2014 */
/* http://paletton.com */




$brand-col-1: $color-pink;
$brand-col-1--tint: $color-pink--tint;
$brand-col-2: $color-yellow;
$brand-col-3: #666;
$brand-col-4: $color-pink--tint;
$brand-col-5: $color-pink;
$brand-col-6: $color-pink;

