/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 11-Oct-2014, 12:06:59
    Author     : Richard
*/

.album{
  padding: 0 1em 1em;
  border: solid 1px #fff;

  background: rgba(darken($brand-col-2,10%), .6);
}
.album__title{
  border-bottom: solid 1px #fff;
  margin: 0 -1em 1em;
  padding: 1em;
}
.album__genre{
  float: right;
  line-height: 33px;
}
.album__image{
  text-align: center;
  margin: 0 -1em 1em;
  padding: 1em  1em 0;
  border-bottom: solid 1px #fff;

  .image--album{
    border: solid 1px #fff;
    @extend .box-shadow--soft;
    margin-bottom: 1em
  }
}

.album__review{
  margin: 0 -1em 1em;
  padding: 1em  1em 0;
  border-bottom: solid 1px #fff;

}
.album__track-list{
  ol{
    @extend .sub-text;
    margin-left: 1em;
  }
}
.album__paypal{
  border-bottom: solid 1px;
  padding: 0 1em;
  margin: 0 -1em 1em;
  text-align: center;
}