.branding{
  position: absolute;
  left:20px;
  top:10px;
  .branding__title{
    @extend .kilo;
    margin: 0 !important
      ;
    font-weight: bold;
    line-height: 0;
    color: $brand-col-2;
    a{
      color: $brand-col-2;
      text-decoration: none;
    }
  }
  .branding__description{
    @extend .epsilon;
    color: $brand-col-2;
    margin-bottom: 0;
    font-weight: normal;
    display: none;

  }
}
.branding__site-title{
  line-height: 0;
  margin: 0;
  body.home &{
    display: none
  }
}

