.header{
  display: block;
}
.header--master{
  @extend .header;
  @extend .container;

}
.header--master__branding{
  overflow: hidden;
}

.header--article{
  @extend .header;
  margin-bottom: 0;
  .header--article__title{
    color: $brand-col-2;
    border-bottom: 1px solid $brand-col-2;
    margin-bottom: 0.25em;
    padding-bottom: 0.25em;
  }
}

