.menu{
  @extend .nav;
}

.menu--site{
  @extend .menu;
  @extend %menu--responsive-toggle;
  .menu-item{
    width: 49%;
    display: inline-block !important;
   
    
    @include media-query(lap-and-up){
      width:auto;
      background: transparent;
    }
    a{
      border-bottom:none !important;
    }
  }
  .menu--site__container.active{
    background: rgba(#fff, 0.2);
  }

}
.menu--site__menu-list{
  @extend .menu;
  @extend .nav--banner;
  @extend .multi-dropdown;
  @extend %has-sep;
  visibility: visible;
  border-top:solid 1px #fff !important;
  border-bottom:solid 1px #fff !important;
  .logged-in &{
    visibility: visible;

  }
  margin-bottom: 0;
  a{
    text-transform: lowercase;
    font-style: italic;
    text-decoration: none;
    color: $brand-col-1;
    background: transparent;
    text-decoration:none !important;
    &:hover{
      background:  transparent;
      text-decoration:none !important;
      color: $brand-col-1--dark;
    }
  }
}
.menu--top-right__menu-list{
  @extend .menu;
  @extend .nav--banner;
  margin-bottom: 0;
  a[rel] svg{
    width:25px;
    height: 25px;
    margin: 0 5px;
  }
}
.menu--top-right__container{

  display: none;
  @include media-query(lap-and-up){
    display: block;
  }
  @include media-query(desk){
    position: absolute;
    right: .5em;
    top: .5em;
  }

}


%has-sep{
  a{
    border-right: solid 1px;
  }
  .menu-item{
    a{
      border: none;
      border-left: none !important;
    }
  }

  .menu-item:first-child{
    a{
      border-left: solid 1px;

    }
  }
}


