
.page{
  @extend %post__img;
}

.page__content{
  @extend .cf;
  p{
    max-width: 33em;

  }
  li{
    max-width: 33em;
  }
  dd{
    max-width: 33em;
  }
}

.page__header{
  body.home &{
    display:none;
  }
}
.page__content{
  text-align: justify;
}