/**
  *
  * post
  *
**/

.page{
  @extend %post_img;
  padding: $half-spacing-unit;
  margin-bottom: $base-spacing-unit;
  .page__header{
    margin-bottom: $base-spacing-unit;
    .title{
      margin-bottom:0;
      a{
        text-decoration: none;
      }
    }
  }

}
