/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 11-Oct-2014, 13:36:36
    Author     : Richard
*/

.review{
  font-size: 0.9em;
}
.review__body{
  @extend .sub-text;
}
.review__cite{
  @extend .sub-text;
  text-align: right;
  display: block;
}