.site{
  background: transparent;
  height: 90%;
}
.site__header--master{
  padding: $base-spacing-unit 0;
}
.site__navigation--main{
  background: transparent;
}
.site__content{
  padding: $base-spacing-unit 0;
}
.site__footer{
  padding: $base-spacing-unit 0;
  background: rgba(tint($brand-col-1, 20%), 0.8);
}
